name: Build hugo site

on:
  # Runs on pushes targeting the default branch
  push:
  workflow_dispatch:

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.88.1
      HUGO_CHECKSUM: 2d5f5dc3c1041f38e690f2a2c876d1658fbfdf1a327565f0167b3f0853798fb2
    steps:
      - name: Download Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_Linux-64bit.deb 
      - name: Verify Hugo checksum
        run: echo "${HUGO_CHECKSUM}  ${{ runner.temp }}/hugo.deb" | sha256sum --check
      - name: Install Hugo
        run: sudo dpkg -i ${{ runner.temp }}/hugo.deb
      - name: Checkout
        uses: actions/checkout@v5
      - name: Build with Hugo
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
        run: |
          hugo \
            --minify \
            --gc
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hugo-site
          path: ./public

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Download Hugo site artifact
        uses: actions/download-artifact@v5
        with:
          name: hugo-site
          path: ./hugo-site
      - name: Install rclone
        run: |
          sudo apt-get -y install rclone
      - name: "obfuscate password for rclone"
        run: 'echo "RCLONE_WEBDAV_PASS=$(echo ${{ secrets.WEBDAV_PASS}} | rclone obscure -)" >> $GITHUB_ENV'
      - name: "sync staging"
        run: "rclone sync ./hugo-site :webdav,env: -v"
        env:
          RCLONE_WEBDAV_URL: "https://dav.eigenbaukombinat.de"
          RCLONE_WEBDAV_USER: "github"
          RCLONE_WEBDAV_PACER_MIN_SLEEP: "50ms"
